<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="filepath" value="C:\StarttoFinish\TournamentTracker"/>
    <add key="greaterWins" value="1"/>
    <add key ="senderEmail" value ="raymond3572@gmail.com" />
    <add key ="senderDisplayName" value ="Raymond van den Broek" />
  </appSettings>
  <connectionStrings>
    <add name="Tournaments" connectionString="Server=.\SQL2016;Database=Tournaments;Trusted_Connection=True;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network">
        <netword host="127.0.0.1" userName="Raymond" password="testing" port="25" enableSs1="false"/>
      </smtp>
    </mailSettings>
  </system.net>
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>